<app-header></app-header>

<main>
  <section class="grid-container">
    @for (network of networkList; track $index) {
    <app-followers
      [userName]="network.userName"
      [socialNetworkIcon]="network.socialNetworkIcon"
      [followers]="network.followersNumber"
      [description]="network.followersType"
      [followersVariation]="network.variationNumber"
      [borderColor]="network.borderColor"
    ></app-followers>
    }
  </section>

  <h2 class="subtitle">Overview - Today</h2>

  <section class="grid-container views">
    @for(viewItem of viewsDayList; track $index) {
    <app-views-day
      [viewType]="viewItem.viewType"
      [socialNetworkIcon]="viewItem.socialNetworkIcon"
      [views]="viewItem.views"
      [viewsVariation]="viewItem.viewsVariation"
    ></app-views-day>
    }
  </section>
</main>
